<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/globalstyle.css')}}" >
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Cadastro de Aluno</title>
    </head>
    <body>
        <div class="container">
            <h1>Cadastrar Aluno</h1>
            <form action="/add" class="container" method="POST">
                <table class="table table-striped" >
                    <tr>
                        <td>RA:</td>
                        <td><input type="text" name="ra" size="80"></td>
                    </tr>
                    <tr>
                        <td>Nome:</td>
                        <td><input type="text" name="nomeAluno" size="80"></td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td><input type="text" name="emailAluno" size="80"></td>
                    </tr>
                    <tr>
                        <td>Logradouro:</td>
                        <td><input type="text" name="logradouro" size="80"></td>
                    </tr>
                    <tr>
                        <td>Numero:</td>
                        <td><input type="text" name="numero" size="80"></td>
                    </tr>
                    <tr>
                        <td>CEP:</td>
                        <td><input type="text" name="cep" size="80"></td>
                    </tr>
                    <tr>
                        <td>Digite Complemento:</td>
                        <td><input type="text" name="complemento" size="80"></td>
                    </tr>
                    <tr>
                        <th colspan="2">
                        <button class="btn-info fade1" >Enviar</button>
                    </th>
                </table>
            </form>
        </div>
    </body>
</html>